In [0]:
import numpy as np

#Narcissistic number

Instruction:

A Narcissistic Number is a number which is the sum of its own digits, each raised to the power of the number of digits in a given base. In this Kata, we will restrict ourselves to decimal (base 10).

For example, take 153 (3 digits):

    1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153
and 1634 (4 digits):

    1^4 + 6^4 + 3^4 + 4^4 = 1 + 1296 + 81 + 256 = 1634
The Challenge:

Your code must return true or false depending upon whether the given number is a Narcissistic number in base 10.

Error checking for text strings or other invalid inputs is not required, only valid integers will be passed into the function.

In [0]:
#My solution:
def narcissistic( value ):
    sum_dig = 0
    digits = [int(i) for i in str(value)]      #return each digit in value, ex: return [3,7] for value = 37
    power  = len(digits)

    for i in range(len(digits)):
        sum_dig += digits[i]**power
        
    return (sum_dig == value)

#Codewars Solution:
def narcissistic(value):
    return value == sum(int(x) ** len(str(value)) for x in str(value))  ##str is iterable

In [0]:
narcissistic(1634)

True

#Counting Duplicates:

**Instruction:**

Count the number of Duplicates
Write a function that will return the count of distinct case-insensitive alphabetic characters and numeric digits that occur more than once in the input string. The input string can be assumed to contain only alphabets (both uppercase and lowercase) and numeric digits.

**Example**
```
"abcde" -> 0 # no characters repeats more than once
"aabbcde" -> 2 # 'a' and 'b'
"aabBcde" -> 2 # 'a' occurs twice and 'b' twice (`b` and `B`)
"indivisibility" -> 1 # 'i' occurs six times
"Indivisibilities" -> 2 # 'i' occurs seven times and 's' occurs twice
"aA11" -> 2 # 'a' and '1'
"ABBA" -> 2 # 'A' and 'B' each occur twice
```

In [0]:
#My solution:
def duplicate_count(text):
  text=text.lower()
  count = 0
  dic = {}
  for i in text:
    if i not in dic:
      dic[i] = 1
    else:
      dic[i] += 1
  for key, value in dic.items():
    if value>1:
      count+=1
  return count

#Codewars Solution:
def duplicate_count(s):
  return len([c for c in set(s.lower()) if s.lower().count(c)>1])  ## set(str) return dict of unique value

In [0]:
duplicate_count('invisIIIbility')

1

#Your order, please

**Instruction**

Your task is to sort a given string. Each word in the string will contain a single number. This number is the position the word should have in the result.

Note: Numbers can be from 1 to 9. So 1 will be the first word (not 0).

If the input string is empty, return an empty string. The words in the input String will only contain valid consecutive numbers.

**Examples**

```
"is2 Thi1s T4est 3a"  -->  "Thi1s is2 3a T4est"

"4of Fo1r pe6ople g3ood th5e the2"  -->  "Fo1r the2 g3ood 4of th5e pe6ople"

""  -->  "" 
```

In [0]:
#My solution
def order(sentence):
  import re
  dic = {}
  if sentence != '':
    words = sentence.split(' ')
    for word in words:
      digit = re.search('\d+', word)
      level = word[digit.span()[0]]
      dic[word] = level
    sorted_x = sorted(dic.items(), key=lambda kv: kv[1])
    l = [i[0] for i in sorted_x]
    return print(' '.join(l))
  else:
    return ''

#Codewars solution:
def order(words):
  return ' '.join(sorted(words.split(), key=lambda w:sorted(w))) 
  #lambda w:sorted(w) will sort each word first and the number will be in position 0, then the 2nd sorted will sort based on this number

#Tower builder:

In [0]:
def tower_builder(n):
    return [('*' * i).center(n * 2 - 1) for i in range(1, 2 * n + 1, 2)]

In [0]:
tower_builder(5)

['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********']

In [0]:
def tower_builder(n_floor):
    window = '*'
    total_width = 20  # this may get bigger if you have a very tall building

    floor_strings = []
    for floor_idx in range(n_floor):
        # because widths are always odd
        width = 2 * floor_idx + 1
        # construct this floor
        floor_string = (window*width).center(total_width)
        # add it to the list
        floor_strings.append(floor_string)

    # join them all together with newlines
    return '\n'.join(floor_strings)

print(tower_builder(5))

         *
        ***
       *****
      *******
     *********

#Human readable time:

In [0]:
#My solution:
def make_readable(seconds):
  return '%02d:%02d:%02d'%(seconds//3600, (seconds-(seconds//3600)*3600)//60, seconds-((seconds//3600)*3600)-((seconds-(seconds//3600)*3600)//60)*60 )

#Codewars solution:
def make_readable(s):
    return '{:02}:{:02}:{:02}'.format(s / 3600, s / 60 % 60, s % 60)

#Sum of Digits / Digital Root

In this kata, you must create a digital root function.

A digital root is the recursive sum of all the digits in a number. Given n, take the sum of the digits of n. If that value has more than one digit, continue reducing in this way until a single-digit number is produced. This is only applicable to the natural numbers.

Here's how it works:

```
digital_root(16)
=> 1 + 6
=> 7

digital_root(942)
=> 9 + 4 + 2
=> 15 ...
=> 1 + 5
=> 6

digital_root(132189)
=> 1 + 3 + 2 + 1 + 8 + 9
=> 24 ...
=> 2 + 4
=> 6

digital_root(493193)
=> 4 + 9 + 3 + 1 + 9 + 3
=> 29 ...
=> 2 + 9
=> 11 ...
=> 1 + 1
=> 2
```

In [0]:
#My solution:
def digital_root(n):
    while len([i for i in str(k)]) >1:
      k = sum([int(i) for i in str(k)])
    return k
#Codewars solution 1:
def digital_root(n):
  return n%9 or n and 9 

#Codewars solution 2:
def digital_root(n):
    return n if n < 10 else digital_root(sum(map(int,str(n))))

In [0]:
digital_root(123)

9

# Give me a Diamond

Rate: 6 kyu

Jamie is a programmer, and James' girlfriend. She likes diamonds, and wants a diamond string from James. Since James doesn't know how to make this happen, he needs your help.

Task
You need to return a string that looks like a diamond shape when printed on the screen, using asterisk (*) characters. Trailing spaces should be removed, and every line must be terminated with a newline character (\n).

Return null/nil/None/... if the input is an even number or negative, as it is not possible to print a diamond of even or negative size.

**Examples**

```
A size 3 diamond:

 *
***
 *
...which would appear as a string of " *\n***\n *\n"

A size 5 diamond:

  *
 ***
*****
 ***
  *
...that is: " *\n ***\n*****\n ***\n *\n"
```

In [0]:
def diamond(n):
  while (n%2 == 1) and (n>0):
    k=n//2 +1
    half1 = [(' '*(int((n-i)/2))+'*' * i) for i in range(1, 2 * k + 1, 2)]
    half2 = half1[::-1][1:]
    return '\n'.join(half1+half2)+'\n'
  return None

In [0]:
print(diamond(5))

  *
 ***
*****
 ***
  *

#Count smiley face:

**Description:**

Given an array (arr) as an argument complete the function countSmileys that should return the total number of smiling faces.
Rules for a smiling face:
-Each smiley face must contain a valid pair of eyes. Eyes can be marked as : or ;
-A smiley face can have a nose but it does not have to. Valid characters for a nose are - or ~
-Every smiling face must have a smiling mouth that should be marked with either ) or D.
No additional characters are allowed except for those mentioned.
Valid smiley face examples:
:) :D ;-D :~)
Invalid smiley faces:
;( :> :} :]

**Example cases:**
```
countSmileys([':)', ';(', ';}', ':-D']);       // should return 2;
countSmileys([';D', ':-(', ':-)', ';~)']);     // should return 3;
countSmileys([';]', ':[', ';*', ':$', ';-D']); // should return 1;
```
Note: In case of an empty array return 0. You will not be tested with invalid input (input will always be an array). Order of the face (eyes, nose, mouth) elements will always be the same
Happy coding!

In [0]:
#My solution"
def count_smileys(arr): 
  return len([i for i in arr if re.search('^(;|:)(~|-|\s*)(D|\))$',i)])

In [0]:
arr = [1,True, False, 2,3,0,4,5,False,0]
def move_zeros(array):
    return sorted(array, key=lambda x: x is 0)

In [0]:
move_zeros(arr)

[1, True, False, 2, 3, 4, 5, False, 0, 0]

#Strip Comments

Complete the solution so that it strips all text that follows any of a set of comment markers passed in. Any whitespace at the end of the line should also be stripped out.

**Example:**
```
Given an input string of:

apples, pears # and bananas
grapes
bananas !apples
The output expected would be:

apples, pears
grapes
bananas
```

The code would be called like so:
```
result = solution("apples, pears # and bananas\ngrapes\nbananas !apples", ["#", "!"])
# result should == "apples, pears\ngrapes\nbananas"
```

In [0]:
def solution(string,markers):
    #your code here

#Pete, the baker

Rate: 5 kyu

Pete likes to bake some cakes. He has some recipes and ingredients. Unfortunately he is not good in maths. Can you help him to find out, how many cakes he could bake considering his recipes?

Write a function cakes(), which takes the recipe (object) and the available ingredients (also an object) and returns the maximum number of cakes Pete can bake (integer). For simplicity there are no units for the amounts (e.g. 1 lb of flour or 200 g of sugar are simply 1 or 200). Ingredients that are not present in the objects, can be considered as 0.

**Examples:**
```
# must return 2
cakes({flour: 500, sugar: 200, eggs: 1}, {flour: 1200, sugar: 1200, eggs: 5, milk: 200})
# must return 0
cakes({apples: 3, flour: 300, sugar: 150, milk: 100, oil: 100}, {sugar: 500, flour: 2000, milk: 2000})
```

In [0]:
#My solution:
def cakes(recipe, available):
  l = []
  keyy1 = [i for i,j in recipe.items()]
  keyy2 = [i for i,j in available.items()]
  if all(elem in keyy2 for elem in keyy1):
    for i in keyy1:
      l.append(available[i]//recipe[i])  
    return max((min(l)),0)
  else:
    return 0        

#Codewars solution:
def cakes(recipe, available):
  return min(available.get(k, 0)/recipe[k] for k in recipe)

#dictionary.get(keyname, value)
# keyname---	Required. The keyname of the item you want to return the value from
# value	----  Optional. A value to return if the specified key does not exist.
# Default value None

In [0]:
recipe = {'cream': 200, 'flour': 300, 'sugar': 150, 'milk': 100, 'oil': 100}
available = {'sugar': 1700, 'flour': 20000, 'milk': 20000, 'oil': 30000, 'cream': 5000}

cakes(recipe, available)

11

In [0]:
import re
def solution(string,markers):
  lines = string.split('\n')
  pattern = []
  for m in markers:
    for line in lines:
      i = re.search(m+'.*(\n|\s*)', line)
      pattern.append(i.group())
  return string

IndentationError: ignored

In [0]:
markers = ['!', '#']
string="apples, pears # and bananas\ngrapes\nbananas !apples"

In [0]:
lines = string.split('\n')
pattern = []
for m in markers:
  for line in lines:
    print(line)
    i = re.search(m+'.*(\s*)', line)
    pattern.append(i.group())

apples, pears # and bananas

AttributeError: ignored

In [0]:
lines = string.split('\n')
print(lines)

['apples, pears grapes', 'bananas ']